<div class="container-registration p-5">
  <div class="registration-wrapper p-3 mx-auto shadow" style="width: 500px">">
    <div class="registration">
      <div class="registration-header text-center">
        <h2>Edit <%= resource_name.to_s.humanize %></h2><hr>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
      <div class="registration-body">
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" } %>
          <%= f.input :first_name, required: true%>
          <%= f.input :last_name, required: true %>
          <%= f.input :mobile, required: false %>
          <%= f.input :address, required: false %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
      </div>
      <div class="form-actions w-auto text-center">
        <%= f.submit "Update", class:"registration-button" %><hr>
      </div>
      <% end %>
      <div class="w-auto text-center">
        <h3>Cancel my account</h3>
      </div>
      <div class="w-auto text-center">
        <p>Unhappy? </p>
        <%= link_to "CANCEL my account", registration_path(resource_name), class:"registration-button" data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
      <div class="w-auto text-center">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>



