<div class="container-registration p-5">
  <div class="registration-wrapper p-3 mx-auto shadow" style="width: 500px">
    <div class="registration">
      <div class="registration-header text-center">
        <h2>Change your password %></h2><hr>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <div class="registration-body">
          <div class="form-inputs">
            <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
          </div>
          <div class="form-actions w-auto text-center">
            <%= f.submit "Change my password", class:"registration-button" %><hr>
          </div>
          <div class="registration-links d-flex text-center">
            <div class="w-50">
              <%= link_to 'Log-in', new_session_path(resource_name) %>
            </div>
            <div class="w-50">
              <%= link_to 'Sign-up', new_user_registration_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
