<div class="navbar-classic">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-classic-brand" do %>
    <%= image_tag("logo.png") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-classic-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Links", "#", class: "navbar-classic-item navbar-classic-link" %>
      <%= link_to "Dashboard", "#", class: "navbar-classic-item navbar-classic-link" %>
      <%= link_to "Menu", "#", class: "navbar-classic-item navbar-classic-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-classic-item">
        <div class="dropdown">
          <%= image_tag ("droopy.png"), class: "avatar dropdown-toggle", id: "navbar-classic-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-classic-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fas fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fas fa-cog"></i> <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt fa-2x"></i> <%= t('.sign_in', default: "") %>
      <% end %>
    <% end %>
  </div>
</div>
