<div class="section section-one">
  <div class="site-title text-center">
    <h1>Léo Balzac</h1>
    <p>Stratégie & Communication Digitales</p>
  </div>
</div>

<div class="section section-two">
  <div class="text">
    <p>L’Agence Léo Balzac contribue à accroître la notoriété des acteurs de la sphère artistique et culturelle.</p>
    <p>En établissant une stratégie de communication claire et pragmatique, elle développe leur visibilité et renforce les liens avec leurs clients et visiteurs.</p>
    <p>Ses actions permettent de constituer des communautés de soutien notamment via des projets de financement participatif.</p>
  </div>
</div>

<div class="section section-three">
  <div class="title">
    <h1>NOS SERVICES</h1>
  </div>
  <div class="wrap-cards">
    <div class="card">
      <i class="fas fa-lightbulb fa-3x"></i>
      <h3>Stratégie Digitale</h3>
    </div>
    <div class="card">
      <i class="fas fa-desktop fa-3x"></i>
      <h3>Site Internet Vitrine</h3>
    </div>
    <div class="card">
      <i class="fas fa-dollar-sign fa-3x"></i>
      <h3>Financement Participatif</h3>
    </div>
    <div class="card">
      <i class="fab fa-facebook-square fa-3x"></i>
      <h3>Animation Facebook</h3>
    </div>
    <div class="card">
      <i class="fab fa-instagram fa-3x"></i>
      <h3>Animation Instagram</h3>
    </div>
    <div class="card">
      <i class="fab fa-pinterest-square fa-3x"></i>
      <h3>Animation Pinterest</h3>
    </div>
  </div>
</div>

<div class="section section-four">
  <div class="title-w">
    <h1>POUR LE COMPTE DE NOS CLIENTS NOUS GERONS AUJOURD'HUI</h1>
  </div>
  <div class="wrap-counters">
    <div class="counter">
      <div class="num">17</div>
      <br>
      communautés
    </div>

    <div class="counter">
      <div class="num">356</div>
      <br>
      publications
    </div>

    <div class="counter">
      <div class="num">803</div>
      <br>
      membres
    </div>
  </div>
</div>

<div class="section section-five">
  <div class="title">
    <h1>QUELQUES CLIENTS</h1>
  </div>
  <div class="wrap-client-cards">
    <div class="client-card">
      <div class="client-card-image">
        <%= image_tag('logo-estrine.jpg') %>
      </div>
      <div class="client-card-links">
        <ul class="list-links">
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-meetup"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-slack"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="client-card-title text-center">
        <h5>Musée Estrine - St Rémy de Provence</h5>
      </div>
    </div>
    <div class="client-card">
      <div class="client-card-image">
        <%= image_tag('camando.jpg') %>
      </div>
      <div class="client-card-links">
        <ul class="list-links">
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-facebook-f"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-wordpress"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="client-card-title text-center">
        <h5>Fan Page Musée Nissim de Camondo - Paris</h5>
      </div>
    </div>


    <div class="client-card">
      <div class="client-card-image">
        <%= image_tag('logo-canu.jpg') %>
      </div>
      <div class="client-card-links">
        <ul class="list-links">
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-snapchat"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-linkedin"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-globe"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="client-card-title text-center">
        <h5>Artiste peintre - St Rémy de Provence</h5>
      </div>
    </div>


    <div class="client-card">
      <div class="client-card-image">
        <%= image_tag('logo-sha.jpg') %>
      </div>
      <div class="client-card-links">
        <ul class="list-links">
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="client-card-title text-center">
        <h5>Association SHA - St Rémy de Provence</h5>
      </div>
    </div>

    <div class="client-card">
      <div class="client-card-image">
        <%= image_tag('logo-caron.jpg') %>
      </div>
      <div class="client-card-links">
        <ul class="list-links">
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-pinterest-p"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-globe"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="client-card-title text-center">
        <h5>Caron & Associés - Architecte d'Intérieur</h5>
      </div>
    </div>

  </div>
</div>

<div class="section-six" id="contact-form">
  <div class="wrap-form">
    <div class="title">
      <h1>CONTACTEZ NOUS</h1>
    </div>
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/benoit.bessiere@me.com" method="post">
      <fieldset id="fs-frm-inputs">
        <input type="text" name="name" id="name" placeholder="Nom" required="">
        <input type="text" name="name" id="phone" placeholder="Téléphone" required="">
        <input type="email" name="_replyto" id="email" placeholder="Email" required="">
        <textarea rows="3" name="message" id="msg" placeholder="Message" required=""></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire balzac.com">
      </fieldset>
      <input id="button" type="submit" value="Envoyer">
    </form>
  </div>
</div>

<footer>
  <div class="text-center">
    <p>©LéoBalzac 2019</p>
  </div>
</footer>


