<div class="main-container">

  <div class="layout layout-first">
    <div class="introduction text-center">
      <h1>INTRODUCTION</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita molestias voluptatum modi, saepe animi nam explicabo at inventore ipsa. Voluptas.</p>
    </div>
  </div>

  <div class="layout layout-second">
    <div class="primero">
      <%= image_tag ('chat-1.png') %>
    </div>
    <div class="segundo">
      <h2>CHAT ou CHAT</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, et earum, quaerat accusamus voluptatum excepturi optio tempore sequi veritatis praesentium doloremque consequatur quod, quisquam consequuntur ipsa id ducimus ullam ipsum. Dignissimos a, dolore harum.</p>
    </div>
  </div>

  <div class="layout layout-third">
    <div class="row">
      <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center px-5">
        <h2>Looking for my way</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nihil libero iure, excepturi temporibus dignissimos officia quidem maxime magnam rerum hic nemo, aliquam numquam saepe earum inventore omnis eos. Provident.</p>
      </div>
      <div class="col-sm-6 picture">
        <%= image_tag ('picture-1.png') %>
      </div>
    </div>
  </div>

  <div class="layout layout-fourth">
  </div>

  <div class="layout layout-blog">
    <div class="blog-title text-center">
      <h1>My Blog</h1>
    </div>
    <div class="blog-wrapper">
      <div class="blog">
        <%= image_tag ('coffee-1.jpg') %>
        <div class="blog-content p-3">
          <h4>Title three</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo rem doloribus debitis consectetur totam ipsam, repellat, consequuntur quam unde ullam provident rerum, quam unde ullam provident rerum.
          </p>
        </div>
      </div>
      <div class="blog">
        <%= image_tag ('coffee-2.jpg') %>
        <div class="blog-content p-3">
          <h3>Title two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo rem doloribus debitis consectetur totam ipsam, repellat, consequuntur.
          </p>
        </div>
      </div>
      <div class="blog">
        <%= image_tag ('coffee-3.jpg') %>
        <div class="blog-content p-3">
          <h4>Title three</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo rem doloribus debitis consectetur totam ipsam, repellat, consequuntur quam unde ullam provident rerum, quam unde ullam provident rerum, inventore officiis inventore officiis.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
